<% include ../partials/header %>

<h1><%= recipe.name %></h1>

<% if (recipe.image.startsWith("img/")) { %>
  <% recipe.image = '/' + recipe.image; %>
<% } %>

<img src=<%= recipe.image %>>

<p><%= recipe.description %></p>
<p>
  <em>Submitted By <%= recipe.author.username %></em>
</p>

<% if (currentUser && recipe.author.id.equals(currentUser._id)) { %>
  <a class="btn btn-warning" href="/recipes/<%= recipe._id %>/edit">Edit</a>
  <form class="delete-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Delete Recipe</button>
  </form>
<% } %>

<p>
  <a class="btn btn-success" href="/recipes/<%= recipe._id %>/comments/new">Add New Comment</a>
</p>

<% recipe.comments.forEach(function(comment) { %>
  <div class="row">
    <div class="col-md-12">
      <strong><%= comment.author.username %></strong>
      <span class="pull-right">10 days ago</span>
      <p>
        <%= comment.text %>
      </p>
      <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
        <a class="btn btn-warning"
          href="/recipes/<%= recipe._id %>/comments/<%= comment._id %>/edit">
          Edit
        </a>
        <form class="delete-form" action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      <% } %>
    </div>
  </div>
<% }) %>

<% include ../partials/footer %>